<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        # Desactiva MultiViews y Indexes si el módulo mod_negotiation.c esta activo
        Options -MultiViews -Indexes
    </IfModule>

    # Habilita el motor de reescritura de Apache
    RewriteEngine On

    # Maneja el encabezado de autorización
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si el protocolo es HTTP redirigir todas las solicitudes a HTTPS
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirige al index si no es una carpeta y/o archivo
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.html [L]
    
</IfModule>